@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h6 {
    @apply font-nexabold;
  }

  h1 {
    @apply font-nexabold text-3xl;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adb9ca !important;
  opacity: 1 !important; /* Firefox */
}
